In [1]:
import pandas as pd

cycling = pd.read_csv("../datasets/bike_rides.csv", index_col=0,
                      parse_dates=True)
cycling.index.name = ""
target_name = "power"
data, target = cycling.drop(columns=target_name), cycling[target_name]
data.head()

                     heart-rate  cadence  speed  acceleration     slope

2020-08-18 14:43:19       102.0     64.0  4.325        0.0880 -0.033870
2020-08-18 14:43:20       103.0     64.0  4.336        0.0842 -0.033571
2020-08-18 14:43:21       105.0     66.0  4.409        0.0234 -0.033223
2020-08-18 14:43:22       106.0     66.0  4.445        0.0016 -0.032908
2020-08-18 14:43:23       106.0     67.0  4.441        0.1144  0.000000

In [2]:
data

                     heart-rate  cadence  speed  acceleration     slope

2020-08-18 14:43:19       102.0     64.0  4.325        0.0880 -0.033870
2020-08-18 14:43:20       103.0     64.0  4.336        0.0842 -0.033571
2020-08-18 14:43:21       105.0     66.0  4.409        0.0234 -0.033223
2020-08-18 14:43:22       106.0     66.0  4.445        0.0016 -0.032908
2020-08-18 14:43:23       106.0     67.0  4.441        0.1144  0.000000
...                         ...      ...    ...           ...       ...
2020-09-13 14:55:57       130.0      0.0  1.054        0.0234  0.000000
2020-09-13 14:55:58       130.0      0.0  0.829        0.0258  0.000000
2020-09-13 14:55:59       129.0      0.0  0.616       -0.1686  0.000000
2020-09-13 14:56:00       130.0      0.0  0.000       -0.4284  0.000000
2020-09-13 14:56:01       130.0      0.0  0.000       -0.3096  0.000000

[38254 rows x 5 columns]